@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  min-height: 60vh;
  background-color: grey;
  background-image: url("./bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  width: 40%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.headline {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn-headline {
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-weight: 500;
}
.todo-section {
  margin-top: 5rem;
  text-align: center;
}
.form-todo {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.form-todo input {
  min-height: 100%;
  border-radius: 5px;
}
.form-todo input[type="text"] {
  width: 78%;
  padding: 0.8rem;
  font-size: 1rem;
}

.form-todo input[type="submit"] {
  width: 20%;
  background: rgb(44, 55, 63);
  color: white;
  font-weight: bold;
}



.section-signup{
    margin-top:5rem;
    text-align: center;
    background-color: rgb(212, 209, 209);
    padding: 2rem;
}
.signup-form{
  max-width: 800px;
  width: 95%;
  margin: auto;
  text-align: left;
}
.signup-form label{
  display: block;
}
.signup-form input{
  display: block;
  width: 100%;
  padding: 0.4rem;
  border-radius: 5px;
}
.signup-form textarea{
  width: 100%;
  border-radius: 5px;
}
.signup-btn{
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  margin: auto;
  display: block;
  margin-top: 1rem;
transition: all 0.3s;
}
.signup-btn:hover{
  background: rgb(44, 55, 63);
  color: white;
}
.form-group{
  margin-top: 1rem;
}